@import url(https://fonts.googleapis.com/css2?family=Acme&family=Noto+Sans+SC:wght@400;900&display=swap);

p {
  margin: 0;
}

body {
  text-align: center;
  margin: auto;
  font-family: "Acme",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

* {
  font-family: "Acme",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.ql-toolbar {
  background-color: #B9B4B0 !important;
  border-radius: 0 !important;
}

.ql-toolbar img {
  height: 20px;
}

.ql-container {
  background-color: #D6C5B0 !important;
  height: 185px !important;
}

a[href="https://www.froala.com/wysiwyg-editor?k=u"] {
  display: none !important;
}
